/MSAutoView.xcodeproj/project.xcworkspace/xcuserdata/mahersantina.xcuserdatad/UserInterfaceState.xcuserstate
/MSAutoView.xcodeproj/xcuserdata/mahersantina.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Example/MSAutoView.xcworkspace/xcuserdata/mahersantina.xcuserdatad/UserInterfaceState.xcuserstate

Example/MSAutoView\.xcworkspace/xcuserdata/

Example/MSAutoView\.xcodeproj/xcuserdata/

Example/Pods/Pods\.xcodeproj/xcuserdata/

## SPM Support
.build/
*.xcodeproj
*.Resolved

## Cocoapods Example project
!Example/*.xcodeproj